* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: auto;
    background-color: rgb(46, 61, 71);
    text-align: center;
}

.main {
    align-items: center;
    padding: 5rem;
    margin: 5rem;
}

.sport {
    border: 2px solid white;
    list-style: none;
}


ul { 
    border: 5px solid red;
    color: white;
}

li {
    border: 2px solid grey;
    border-radius: 1rem;
    margin: 1rem;
}

