* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.big-cont {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.flex-cont-items {
    width:100vh;
    /* border: 5px solid red; */
    margin-top: 20px;
    padding: 1 rem 2 rem;
    height: 700px;
    width: 100%;
}



.sub1-cont {
    background-color: rgb(83, 58, 246);
    margin-top: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    gap : 40px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: x-large;
    padding: 2rem;
    text-align: center;

}

.cent {
    margin-top: 5rem 5rem;
}

.cent1 {
    width: 150px;
    height: 150px;
    margin: auto;
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 50%;
    background-color: rgb(69, 42, 217);
}



.cent1 p:nth-child(1){
    font-size: 50px;
    font-weight: 900;

}

.sub2-cont {
    background-color: white;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    flex-shrink: 1;
}

/* .sub20f1-cont {

} */

.summa {
    margin: 2rem 4rem;
    font-size: xx-large;
}

.ulcer {
    display: flex;
    flex-wrap: wrap;
    /* gap: 4%; */
    flex-direction:column;
    margin:0.5rem 3rem;
    
}

.test {
    display: flex;
    gap: 10px;
}


.test1 {
    color: rgb(27, 34, 51);
}

.test2 {
    display: flex;
    
}

.test3 {
    color: rgb(176, 174, 171);
}



.sort {
    background-color: rgb(255, 247, 245);
    color: rgb(231, 141, 143);
}

.mem {
    background-color: rgb(255, 251, 242);
    color: rgb(246, 193, 90);

}

.ver {
    background-color: rgb(242, 251, 250);
    color: rgb(89, 201, 170);
}

.vis {
    background-color: rgb(243, 243, 253);
    color: rgb(76, 78, 193);
}

.tin {
    background-color: rgb(49, 58, 89);
    color: rgb(242, 247, 254);
}

.ulcersub {
    display: flex;
    justify-content:space-between;
    padding: 1rem 1rem;
    margin: 2rem 2rem;
    border-radius: 15px;
    /* background-color: brown; */
    font-size:x-large;
}

.ulcersub1 {
    display: flex;
    justify-content:center;
    padding: 1.5rem 1.5rem;
    margin: -0.5rem 4rem;
    border-radius: 40px;
    font-size:x-large;
    
    
}

@media (min-width:900px){
    .big-cont {
        flex-direction: row;
        max-width: 1100px;
        /* align-items: center;
        justify-content: center; */
        margin: 3rem auto;

    }
    .sub1-cont {
        border-radius: 50px;
        flex-basis: 50%;
        padding: 5rem 2rem;
    }

    .sub2-cont {
        flex-basis: 50%;
    }
}

